@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.font-inter{
    font-family: 'Inter', sans-serif;
}
.font-merri{
    font-family: 'Merriweather', serif;
}

/* header section */
.header-container{
    background-image: url("../images/Banner\ Image.png");
    width: 88%;
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 16px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    margin-top: 50px;
}

.header-gredient{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    padding-bottom: 177px;
}


.header-container h3{
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    padding-top: 177px;
    line-height: 3.5rem;
}
.header-container h1{
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 5.9375rem;
}

/* main section */

main{
    width: 88%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

/* first section */
.off-section h1{
    color: #F00;
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 48px;
}

.off-section p{
    color: #F00;
    font-size: 1.5rem;
    font-weight: 500;
}

.off-section h3{
    color: #070211;
    font-size: 3rem;
    font-weight: 700;
    padding: 10px 0px 40px 0px;
}

/* Midnight party section */
.midnight-party{
    background-image: url("../images/Vectorrr.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
    border-radius: 16px;
    text-align: left;
}
.midnight-gredient{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}
.midnight-container{
    width: 60%;
    max-width: 1320px;
    padding: 126px 0px 0px 126px;
}
.midnight-container h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 4rem;
    font-weight: 900;
    line-height: 5.5rem;
    letter-spacing: 0.44rem;
}
.midnight-container p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
}

.midnight-container button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: 0px;
    padding-left: 30px;
    padding-top: 70px;
    padding-bottom: 142px;
}

/* Place date */
.place-date{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    margin-top: 100px;
}

.place-date-main{
    color: #070211;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.5rem;
    padding-top: 100px;
}
.place-date-main span{
    color: #F00;
}
.place-date button{
    color: #FFF;
    background-color: #F00;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 16px 32px;
    border: 0px;
    border-radius: 10px;
    margin-top: 50px;
}

/* Coming Soon */
.coming-soon{
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.cs-text, .cs-pic, .cs-year{
    width: 25%;
}

.cs-text .cs-text-title{
    color: #F00;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 110px;
}

.cs-text .cs-text-heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 3rem;
    font-weight: 900;
    padding: 18px 0px;
}
.cs-text .cs-text-para{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem; /* 160% */
}

.cs-pic-circle{
    border: #F00 15px solid;
    border-radius: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cs-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}   
.cs-pic img{
    padding: 40px;
}

.cs-year{
    padding-top: 120px;
    font-family: Inter;
}
.cs-year .cs-year-year{
    color: #F00;    
    font-size: 3rem;
    font-weight: 700;
}
.cs-year .cs-year-para{
    color: rgba(7, 2, 17, 0.60);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    padding: 18px 0px;
}

/* holiday sale */

.holiday-sale{
    margin-top: 120px;
}
.holiday-sale .hs-text h3{
    color: #070211;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 500;
}
.holiday-sale .hs-text h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 4.5rem;
    font-weight: 900;
}
.holiday-sale .hs-text h1 span{
    color: #F00;
}

.holiday-sale .hs-text p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem; 
}

.hs-img{
    margin-top: 70px;
}
.hs-img-fst{
    display: flex;
    justify-content: flex-end;
}
.hs-img-fst .to-move{
    margin-right: -100px;
    position: relative;
}

.hs-img-sec{
    background-image: url("../images/Rectangle 2.png");
    display: flex;
    justify-content: flex-start;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
.hs-img-sec img{
    margin-top: -470px;
    position: relative;
}